<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
    </div>
    <div class="col-12 col-md-9 shadow-sm p-3 mb-5 bg-body rounded" id="edit-course-review-container">
      <h3><%= @course_review.lesson.title %> by <%= @course_review.lesson.professor %></h3>
      <%= form_with model: [@college, @lesson, @course_review] do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :lesson_id, :value => @course_review.lesson.id %>

        <div class="form-group">
        <%= f.label :quiz, "Quiz", class: "form-label" %>
        <%= f.text_field :quiz, placeholder: "毎週１回", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :assignment, "課題", class: "form-label" %>
          <%= f.text_field :assignment, placeholder: "毎週エッセイの提出がある", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :exam, "Exam", class: "form-label" %>
          <%= f.text_field :exam, placeholder: "mid-termとfinalの２回", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :gradedist, "成績の配分", class: "form-label" %>
          <%= f.text_area :gradedist, placeholder: "exam(50%) quiz(10%) assignment(20%) attendance(20%)", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :comment, "このコースの評価", class: "form-label" %>
          <%= f.text_area :comment, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :gradegot, "最終的にもらったグレード", class: "form-label" %>
          <%= f.select :gradegot, [ ["A"], ["B"], ["C"], ["D"], ["F"], ["回答しない"] ] , class:"form-control" %>
        </div>

        <%= f.submit "更新", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
