<div class="position-relative mt-3 shadow-none p-3 mb-5 bg-light rounded" id="users-college-review-container">
  <div class="d-flex">
    <h4 class="fw-bold"><%= link_to collreview.college.name, college_path(collreview.college), class: "link-success" %></h4>
    <% if current_user.id == @user.id %>
      <%= link_to edit_collreview_path(collreview), class: " ms-auto btn btn-white btn-sm" do %>
        <p><i class="far fa-edit"></i> Edit</p>
      <% end %>
    <% end %>
  </div>
  <table class="table mt-3">
    <tr>
      <th>Environment</th>
      <td><%= collreview.environment %></td>
    </tr>
    <tr>
      <th><i class="far fa-thumbs-up"></i></th>
      <td><%= collreview.pros %></td>
    </tr>
    <tr>
      <th><i class="far fa-thumbs-down"></i></th>
      <td><%= collreview.cons %></td>
    </tr>
  </table>
</div>
