<div class="position-relative mt-3 shadow-none p-3 mb-5 bg-light rounded" id="users-course-review-container">
  <h4 class="fw-bold"><%= link_to review.lesson.title, college_lesson_path(review.lesson.college, review.lesson), class: "link-success" %></h4>
  <p class="fw-light ms-1"><%= review.lesson.professor %></p>
  <table class="table mt-3">
    <tr>
      <th>Exam</th>
      <td><%= review.exam %></td>
    </tr>
    <tr>
      <th>Quiz</th>
      <td><%= review.quiz %></td>
    </tr>
    <tr>
      <th>Assignment</th>
      <td><%= review.assignment %></td>
    </tr>
    <tr>
      <th>成績配分</th>
      <td><%= review.gradedist %></td>
    </tr>
    <tr>
      <th>感想/対策</i></th>
      <td><%= review.comment %></td>
    </tr>
    <tr>
      <th>最終成績</th>
      <td><%= review.gradegot %></td>
    </tr>
  </table>
  <% if @user.id == current_user.id %>
    <div class="btn-group position-absolute top-0 end-0">
      <button class="btn btn-light btn-sm dropdown-toggle" id="course-review-edit-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><%= link_to 'Edit', edit_course_review_path(review), class: "btn btn-white btn-sm" %></li>
        <li class="dropdown-item"><button type="button" class="btn btn-white btn-sm link-danger fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Delete
        </button></li>
      </ul>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title fw-bold" id="exampleModalLabel">確認画面</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              本当に削除してもよろしいですか？
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <%= button_to 'Delete', course_review_path(review), method: :delete, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
