<div class="position-relative mt-3 shadow-none p-3 mb-5 bg-light rounded" id="users-course-review-container">
  <div class="d-flex">
    <h4 class="fw-bold"><%= link_to review.lesson.title, college_lesson_path(review.lesson.college, review.lesson), class: "link-success" %></h4>
    <% if current_user.id == @user.id %>
      <%= link_to edit_course_review_path(review), class: "ms-auto btn btn-white btn-sm" do %>
        <p><i class="far fa-edit"></i> Edit</p>
      <% end %>
    <% end %>
  </div>
  <p class="fw-light ms-1"><%= review.lesson.professor %></p>
  <table class="table mt-3">
    <tr>
      <th>Exam</th>
      <td><%= review.exam %></td>
    </tr>
    <tr>
      <th>Quiz</th>
      <td><%= review.quiz %></td>
    </tr>
    <tr>
      <th>Assignment</th>
      <td><%= review.assignment %></td>
    </tr>
    <tr>
      <th>成績配分</th>
      <td><%= review.gradedist %></td>
    </tr>
    <tr>
      <th>レビュー/対策</i></th>
      <td><%= review.comment %></td>
    </tr>
    <tr>
      <th>最終成績</th>
      <td><%= review.gradegot %></td>
    </tr>
  </table>
</div>
