<% if @user.image.blank? %>
  <h5>image is not attached</h5>
<% else %>
  <%= image_tag @user.image.variant( resize: "150" ).processed %>
<% end %>
<%= @user.name %>
<h3>Bio</h3>
<%= @user.introduction %>
<h3>reviews</h3>
<% @user.collreviews.each do |collreview| %>
  <p><%= collreview.sub %></p>
  <p><%= collreview.environment %></p>
  <% if current_user.id == @user.id %>
    <%= link_to 'Edit', edit_collreview_path(collreview) %>
    <%= link_to 'Delete', collreview_path(collreview), method: :delete %>
  <% end %>
<% end %>
