<div class="header-container">
  <div class="header-content-left">
    <%= link_to 'Home', '/', class: "home-button" %>
  </div>
  <div class="header-content-right">
    <% if user_signed_in? %>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><%= link_to 'Profile', user_path(current_user.id), class: "dropdown-item" %></li>
          <li><%= link_to 'Edit Account', edit_user_registration_path, class: "dropdown-item" %></li>
          <li><%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: "login-button" %>
    <% end %>
  </div>
</div>
