<div class="container">
  <div class="row">
    <%= render 'shared/sidebar' %>
    <div class="col-11 col-md-9 mt-4 mb-4 ms-auto me-auto" id="class-edit-container">
      <h3 class="fw-bolder mb-3">クラスの情報を更新</h3>
      <%= form_with model: [@college, @lesson] do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :college_id, :value => @college.id %>

        <div class="form-group mb-3">
          <%= f.label :title, class: "form-label" %>
          <%= f.text_field :title, placeholder: "ECON 101 Macro Economics", class:"form-control" %>
        </div>
        <div class="form-group mb-3">
          <%= f.label :professor, class: "form-label" %>
          <%= f.text_field :professor, class:"form-control" %>
        </div>
        <div class="form-group mb-3">
          <%= f.label :department, class: "form-label" %>
          <%= f.text_field :department, placeholder: "Business Administration", class:"form-control" %>
        </div>
        <%= f.submit "更新する", class: "btn btn-primary mt-2" %>
      <% end %>
    </div>
  </div>
</div>
