<%= provide(:title, 'Class Index') %>
<div class="container">
  <div class="row">
    <%= render 'shared/sidebar' %>
    <div class="col-12 col-md-9 mt-4">
      <div class="d-flex mb-3 col-11 ms-auto me-auto">
        <h1 class="fw-bold mb-0">Class Index</h1>
        <%= link_to new_college_lesson_path(@college), class: "btn btn-outline-success ms-auto" do %>
          <i class="far fa-edit"></i> クラスを追加
        <% end %>
      </div>
      <%= search_form_for @q, url: college_lessons_path do |f| %>
        <div class="d-flex search-container mt-2 mb-4">
          <%= f.search_field :title_or_professor_cont, placeholder: "クラス名または教授名で探す", class: "form-control" %>
          <%= f.submit 'Search', class: "btn btn-primary btn-sm p-1 ms-2" %>
        </div>
      <% end %>
      <div class="search-result-index">
        <% if @q.conditions.present? %>
          <h3 class="fw-bold mb-2">Search Result</h3>
          <%= render partial: 'result_index', collection: @search_results, as: :result %>
        <% end %>
      </div>
      <h3 class="fw-bold mb-2">Class List</h3>
      <%= link_to '高評価順', college_lessons_path(high_rate: "true"), class: "block-link link-success me-2" %>
      <%= link_to '低評価順', college_lessons_path(low_rate: "true"), class: "block-link link-success" %>
      <%= render partial: 'class_list', collection: @lessons, as: :lesson %>
      <%= paginate @lessons, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
