<%= provide(:title, 'Home' ) %>
  <div class="container">
    <div class="row">
      <div class="col-11 col-md-7 pt-5 pb-5" id="home-index-container">
        <h1 class="home-title">College-pedia</h1>
        <div class="home-index-content mt-4">
          <%= search_form_for @q do |f| %>
            <div class="d-flex home-index-content mt-4 mb-5">
              <%= f.search_field :name_or_address_cont, placeholder: "大学名または州名で検索" , class: "form-control me-2" %>
              <%= f.submit 'Search' , class: "btn btn-primary p-2" %>
            </div>
            <% end %>
        </div>
        <div>
          <% if @q.conditions.present? %>
            <h3 class="fw-bolder mb-4">Search Result</h3>
            <%= render partial: 'search_index', collection: @search_results, as: :college %>
          <% end %>
        </div>
        <div class="mt-5">
          <h3 class="fw-bolder mb-4">Recently Added Colleges</h3>
          <%= render partial: 'newcollege_list', collection: @colleges, as: :college %>
        </div>
      </div>
    </div>
  </div>
