<div class="show-main-container">
  <div class="nav-bar">
    <div class="nav-bar-content">
      <%= link_to 'School', '#', class: "nav-bar-menu" %>
      <%= link_to 'Class', '#', class: "nav-bar-menu" %>
    </div>
  </div>
  <div class="show-detail">
    <h1><%= @college.name %></h1>
    <h5><%= @college.address %></h5>
    <table>
      <tr>
        <td>創立</td>
        <td><%= @college.estyear %>年</td>
      </tr>
      <tr>
        <td>公私区分</td>
        <td><%= @college.sector %></td>
      </tr>
      <tr>
        <td>GPA(編入時)</td>
        <td><%= @college.mingpa %></td>
      </tr>
      <tr>
        <td>特色</td>
        <td><%= @college.description %></td>
      </tr>
    </table>
    <%= link_to '大学のレビューを追加', new_college_collreview_path(params[:id]), class: "create-button" %>
    <h2 class="review-index-title">この大学についたレビュー</h2>
    <div class="college-review-index">
      <% @collreviews.each do |collreview| %>
        <%= link_to college_collreview_path(collreview.id), class: "block-link" do %>
          <h2><%= collreview.sub %></h2>
          <h5>reviewed by <%= collreview.user.name %></h5>
          <h5><%= collreview.updated_at.to_s(:datetime_jp) %></h5>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="college-reviews">
  </div>
</div>
