<%= provide(:title, @college.name) %>
<div class="container">
  <div class="row">
    <%= render 'shared/sidebar' %>
    <div class="col-12 col-md-9 mt-4" id="college-detail-container">
      <div class="shadow-none p-3 mb-5 bg-light rounded position-relative">
        <h1 class="fw-bold"><%= @college.name %></h1>
        <h6 class="fw-light"><i class="fas fa-map-marker-alt ps-1"></i> <%= @college.address %></h6>
        <table class="table table table-striped mt-3">
          <tr>
            <td>創立</td>
            <td><%= @college.estyear %>年</td>
          </tr>
          <tr>
            <td>公私区分</td>
            <td><%= @college.sector %></td>
          </tr>
          <tr>
            <td>GPA(編入時)</td>
            <td><%= @college.mingpa %></td>
          </tr>
          <tr>
            <td>特色</td>
            <td><%= @college.description %></td>
          </tr>
        </table>
      </div>
      <div class="d-flex mb-1">
        <h3><i class="far fa-comments"></i> Reviews</h3>
        <%= link_to new_college_collreview_path(params[:id]), class: "ms-auto btn btn-primary btn-sm p-2" do %>
          <i class="far fa-edit"></i> 評価を追加
        <% end %>
      </div>
      <%= render partial: 'review_index', collection: @collreviews, as: :collreview %>
      <%= paginate @collreviews, theme: 'bootstrap-5', class: "flex-wrap justify-content-center" %>
    </div>
  </div>
</div>
